<!DOCTYPE html>
<html>
       <head>
           <title>Test</title>
       <p id="demo"></p>
           <script type="text/javascript">

var x = document.getElementById("demo");

function getLocation() {

       if (navigator.geolocation) {

         var options = {
           enableHighAccuracy: true,
           timeout: 15000,
           maximumAge: 15000
         };
        //navigator.geolocation.getCurrentPosition(showPosition, posFail, options);

        return navigator.geolocation.getCurrentPosition(showPosition, posFail, options);

       } else {

       }
}



function showPosition(position) {

       x.innerHTML = "Latitude: " + position.coords.latitude +
       "<br>Longitude: " + position.coords.longitude;
     }


function posFail(err){
  let error = 1;
}

           </script>
       </head>
       <body>
          <a class="p-2 text-dark" href="{% url 'home' %}">Main page</a>
           <div id="div" />
           <script type="text/javascript">getLocation()</script>
       </body>
</html>
