   <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <title>{{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  {% if user.is_authenticated %}
  <body>
    <meta charset="utf-8">
   <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">

      <h5 class="my-0 mr-md-auto font-weight-normal">Mysite</h5>
      <nav class="my-2 my-md-0 mr-md-3">

          <p>Hi {{ user.username }}!</p>
          <p><a href="{% url 'logout' %}">Log out</a></p>
          <a class="p-2 text-blue" href="{% url 'geo' %}">geolocation</a>
          <a class="p-2 text-blue" href="{% url 'about' %}">About us</a>

  </div>



  <div class="container">
   <map>
     {{ map|safe }}
   </map>

      <hr>

      <form action="" method="post" autocomplete="on">
        {% csrf_token %}
        {{form.as_p}}


        <button type="submit" class="btn btn-primary">confirm</button>
      </form>






      <!--  <input type="checkbox"
        name="type" value="1" />tag1

        <input type="checkbox"
        name="type" value="2" />tag2

        <input type="checkbox"
        name="type" value="3" />tag3
-->





  </div>


    {% else %}
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">

    <h3 class="my-0 mr-md-auto font-weight-normal">Please, log in.</h3>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-blue" href="{% url 'about' %}">About us</a>
    <p><a href="{% url 'login' %}">Log in</a></p>

  </body>
  {% endif %}
</html>
